<h1>Reset password</h1>

<%= form_with model: @password, url: password_reset_path, method: :put do |f| %>
  <p>
    <%= f.label :otp, 'Your password reset code' %>
    <%= f.text_field :otp,
      value: params.dig(:password, :otp),
      inputmode: 'numeric',
      pattern: '\d*',
      autofocus: true,
      autocomplete: 'one-time-password',
      maxlength: 6 %>
  </p>


  <p>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'new-password' %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
