<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id='topnav'>
    <% if authenticated? %>
      You are signed in as
      <% if defined?(current_user) %>
        <%= current_user.name %>.
      <% elsif defined?(current_person) %>
        <%= current_person.name %>.
      <% end %>
      <%= link_to 'Sign out', sign_out_path %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
  </div>

  <% flash.each do |key, value| %>
    <div class='flash <%= key %>'><%= value %></div>
  <% end %>

<%= yield %>

</body>
</html>
