<h1>Login</h1>

<%= form_with url: login_path, method: :post do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, inputmode: 'email', autocomplete: 'email' %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password' %>
  </p>

  <p>
    <%= f.label :remember %>
    <%= f.check_box :remember %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'I forgot my password', new_password_reset_path %>
